.show-transition {
    width: 100px;
    height: 100px;
    background: gray;
    transition: all 2s;
}

.show-transition:hover {
    background-color: greenyellow;
    width: 200px;
}

.show-transformation {
    width: 100px;
    height: 100px;
    background: gold;
    transition: all 5s;
}

.show-transformation:hover {
    transform: rotateX(360deg);
}

.container {
    display: grid;
    grid-template-columns: 300px 100px 100px; 
    grid-gap: 2rem;
}

.item {
    background-color: rgb(82, 219, 210);
    border: 4px solid grey;
    padding: 15px 5px;
} 

.questions {
    font-size: 20px;
    font-weight: 600;
}