.text {
    font-family: "Sofia", sans-serif;
}

.main-container {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 6px rgb(0 0 0 / 5%);
}

.humburger {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
}

button {
    padding: 5px 20px;
    border: 2px solid #ff219f;
    border-radius: 5px;
}

.header_login_btn {
    margin-right: 20px;
    color: #ff219f;
    background: #fff;
}

.header_signup_btn {
    margin-right: 100px;
    color: #fff;
    background-color: #ff219f;
}

.buttons {
    display: flex;
}

span {
    margin-right: 30px;
    color: #817e7e;
}

.box-hover {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    transition: width 0.4s;
}

.box-hover:hover {
    width: 400px;
}

.circle {
    width: 200px;
    background-color: #ff219f;
    border-radius: 50%;
    height: 200px;
}

.test {
    width: 200px;
    height: 200px;
    background-color: orange;
    animation: myAnimation;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 4;
    animation-direction: alternate-reverse;
    /* animation: name duration timing-function delay iteration-count direction; (shorthand property)*/

}

@keyframes myAnimation {
    from {
        background-color: rgb(231, 177, 212);
    }

    to {
        width: 300px;
        height: 300px;
        background-color: rgb(172, 133, 36);
        border-radius: 50%;
    }
}

@media screen and (max-width: 1112px) and (min-width: 300px) {
    .main-container {
        margin: 0;
        align-items: center;
    }

    .container {
        display: none;
    }

    .humburger {
        display: unset;
    }

    img {
        width: 200px;
        height: 70px;
    }

    .burger {
        font-size: 30px;
        color: rgb(24, 107, 225);
    }
}