div {
    width: 160px;
    height: 80px;
    padding: 20px;
    border: 8px solid rgb(49, 165, 107);
    background: rgb(181, 219, 43);
}

.content-box{
    box-sizing: content-box;
}

.border-box {
    box-sizing: border-box;
}

.test-animation {
    width: 100px;
    height: 100px;
    background: rgb(141, 157, 220);
    position: relative;
    animation: moving 5s infinite;
    animation-delay: 3s;
}

@keyframes moving {
    from {left: 0px;}
    to {left: 200px;}
}

.questions {
    font-size: 20px;
    font-weight: 600;
}